.inactivo {
	pointer-events: none;
	cursor: default;
}

input.inactivo {
	background: #dddddd;
}

.enc-tabla {
	background-color: #65B039;
	vertical-align: top;
}

.separador {
	clear: both;
	margin-bottom: 15px;
}

.demo {
	text-align: center;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

.boton {
	color: #486F29;
	font-weight: bold;
	background-color: #A3BD31;
}

#div_login {
	width: 100%;
	height: 100%;
	padding-left: 20px;
	background-color: #333333;
	color: white;
}

#form_caja {
	width: 70%;
	height: 100%;
	padding-top: 8px;
	padding-bottom: 15px;
	margin: 0 auto 20px auto;
	padding: 2px;
	border: 1px solid;
}

.tbl-lista,.tbl-form {
	background-color: #E6FFCC;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.tbl-lista th,.tbl-form th {
	background-color: #65B039;
	text-align: center;
}

#div_encabezado {
	background-image: url("../images/cabeza.png");
	height: 168px;
	padding: 5px;
	padding-top: 20px;
	border: 1px solid;
}

body {
	background-color: #F2FFE5;
}

.titulo {
	margin-bottom: 30px;
	padding: 5px;
	font-weight: bold;
	background-color: #65B039;
	text-transform: uppercase;
	text-align: center;
}

.tituloVerdeOscuro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #115A35;
}

.tituloVerdeClaro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #84C225;
}

.tituloGrande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #115A35;
}

.tituloPequeno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #115A35;
}

.tituloAzul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3BB3C2;
}

.encabezadoIzq {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

input.formBoton {
	background-color: #3BB3C2;
}

a:link,a:visited {
	text-decoration: none;
	color: #3BB3C2;
}

a:HOVER {
	font-weight: bold;
}

.tabla {
	background-color: #65B039;
}

table.tabla {
	background-color: #E6FFCC;
	border: 1px solid #ddd;
}

.fondo {
	padding: 10px 15px;
	width: 60%;
	height: 100%;
}

.tituloLista {
	width: 40%;
	height: 10%;
	background-color: #65B039;
}

@import url("../bootstrap/css/bootstrap.css");