<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>multinivel</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/multinivel-security.xml</param-value>
  </context-param>
  <context-param>
    <param-name>rutaImagenes</param-name>
    <param-value>C://jbossMultinivel//reports/</param-value>
  </context-param>
  <context-param>
    <param-name>rutaReportes</param-name>
    <param-value>C://jbossMultinivel/reports/reportes/</param-value>
  </context-param>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UsuarioFrontController</display-name>
    <servlet-name>UsuarioFrontController</servlet-name>
    <servlet-class>co.com.multinivel.usuario.UsuarioFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioFrontController</servlet-name>
    <url-pattern>/administracion/UsuarioFrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarClaveFrontController</display-name>
    <servlet-name>CambiarClaveFrontController</servlet-name>
    <servlet-class>co.com.multinivel.usuario.CambiarClaveFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarClaveFrontController</servlet-name>
    <url-pattern>/cambiarClave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolFrontController</display-name>
    <servlet-name>RolFrontController</servlet-name>
    <servlet-class>co.com.multinivel.rol.RolFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolFrontController</servlet-name>
    <url-pattern>/administracion/RolFrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexFrontController</display-name>
    <servlet-name>IndexFrontController</servlet-name>
    <servlet-class>co.com.multinivel.usuario.IndexFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexFrontController</servlet-name>
    <url-pattern>/administracion/IndexUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexFrontControllerAfiliado</display-name>
    <servlet-name>IndexFrontControllerAfiliado</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.IndexFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexFrontControllerAfiliado</servlet-name>
    <url-pattern>/administracion/IndexAfiliado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfiliadoFrontController</display-name>
    <servlet-name>AfiliadoFrontController</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.AfiliadoFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfiliadoFrontController</servlet-name>
    <url-pattern>/administracion/AfiliadoFrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexFrontControllerProducto</display-name>
    <servlet-name>IndexFrontControllerProducto</servlet-name>
    <servlet-class>co.com.multinivel.producto.IndexFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexFrontControllerProducto</servlet-name>
    <url-pattern>/administracion/producto/IndexProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoFrontController</display-name>
    <servlet-name>ProductoFrontController</servlet-name>
    <servlet-class>co.com.multinivel.producto.ProductoFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoFrontController</servlet-name>
    <url-pattern>/administracion/producto/ProductoFrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteInscripcion</display-name>
    <servlet-name>ReporteInscripcion</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.ReporteInscripcion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteInscripcion</servlet-name>
    <url-pattern>/ReporteInscripcion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteListaAfiliadoPorNivel</display-name>
    <servlet-name>ReporteListaAfiliadoPorNivel</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.ReporteListaAfiliadoPorNivel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteListaAfiliadoPorNivel</servlet-name>
    <url-pattern>/ReporteListaAfiliadoPorNivel</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://jsptags.com/tags/navigation/pager</taglib-uri>
      <taglib-location>
      /WEB-INF/jsp/pager-taglib.tld
    </taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>BuscadorAfiliado</display-name>
    <servlet-name>BuscadorAfiliado</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.BuscadorAfiliado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscadorAfiliado</servlet-name>
    <url-pattern>/administracion/BuscadorAfiliado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscadorDistribuidor</display-name>
    <servlet-name>BuscadorDistribuidor</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.BuscadorDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscadorDistribuidor</servlet-name>
    <url-pattern>/administracion/BuscadorDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarUsuario</display-name>
    <servlet-name>ValidarUsuario</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.ValidarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarUsuario</servlet-name>
    <url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaPreliminarPedido</display-name>
    <servlet-name>VistaPreliminarPedido</servlet-name>
    <servlet-class>co.com.multinivel.pedido.VistaPreliminarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaPreliminarPedido</servlet-name>
    <url-pattern>/pedido/VistaPreliminarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteConstanciaPedido</display-name>
    <servlet-name>ReporteConstanciaPedido</servlet-name>
    <servlet-class>co.com.multinivel.pedido.ReporteConstanciaPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteConstanciaPedido</servlet-name>
    <url-pattern>/pedido/ReporteConstanciaPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPedidoController</display-name>
    <servlet-name>ListaPedidoController</servlet-name>
    <servlet-class>co.com.multinivel.pedido.ListaPedidoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPedidoController</servlet-name>
    <url-pattern>/pedido/ListaPedidoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexPedido</display-name>
    <servlet-name>IndexPedido</servlet-name>
    <servlet-class>co.com.multinivel.pedido.IndexPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPedido</servlet-name>
    <url-pattern>/pedido/IndexPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RealizarPedido</display-name>
    <servlet-name>RealizarPedido</servlet-name>
    <servlet-class>co.com.multinivel.pedido.RealizarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealizarPedido</servlet-name>
    <url-pattern>/pedido/RealizarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaPreliminarConsumo</display-name>
    <servlet-name>VistaPreliminarConsumo</servlet-name>
    <servlet-class>co.com.multinivel.consumo.VistaPreliminarConsumo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaPreliminarConsumo</servlet-name>
    <url-pattern>/consumo/VistaPreliminarConsumo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteConstanciaConsumo</display-name>
    <servlet-name>ReporteConstanciaConsumo</servlet-name>
    <servlet-class>co.com.multinivel.consumo.ReporteConstanciaConsumo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteConstanciaConsumo</servlet-name>
    <url-pattern>/consumo/ReporteConstanciaConsumo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexConsumo</display-name>
    <servlet-name>IndexConsumo</servlet-name>
    <servlet-class>co.com.multinivel.consumo.IndexConsumo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexConsumo</servlet-name>
    <url-pattern>/consumo/IndexConsumo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RealizarConsumo</display-name>
    <servlet-name>RealizarConsumo</servlet-name>
    <servlet-class>co.com.multinivel.consumo.RealizarConsumo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealizarConsumo</servlet-name>
    <url-pattern>/consumo/RealizarConsumo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexRed</display-name>
    <servlet-name>IndexRed</servlet-name>
    <servlet-class>co.com.multinivel.red.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexRed</servlet-name>
    <url-pattern>/administracion/red/IndexRed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexLiquidacion</display-name>
    <servlet-name>IndexLiquidacion</servlet-name>
    <servlet-class>co.com.multinivel.liquidacion.IndexLiquidacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexLiquidacion</servlet-name>
    <url-pattern>/liquidacion/IndexLiquidacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlLiquidacion</display-name>
    <servlet-name>ControlLiquidacion</servlet-name>
    <servlet-class>co.com.multinivel.liquidacion.ControlLiquidacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlLiquidacion</servlet-name>
    <url-pattern>/liquidacion/ControlLiquidacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListrarPremiacionPorRed</display-name>
    <servlet-name>ListrarPremiacionPorRed</servlet-name>
    <servlet-class>co.com.multinivel.premiacion.ListrarPremiacionPorRed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListrarPremiacionPorRed</servlet-name>
    <url-pattern>/premiacion/ListrarPremiacionPorRed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlCompensacion</display-name>
    <servlet-name>ControlCompensacion</servlet-name>
    <servlet-class>co.com.multinivel.compensacion.ControlCompensacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlCompensacion</servlet-name>
    <url-pattern>/compensacion/ControlCompensacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportePremiosAfiliadoPeriodo</display-name>
    <servlet-name>ReportePremiosAfiliadoPeriodo</servlet-name>
    <servlet-class>co.com.multinivel.liquidacion.ReportePremiosAfiliadoPeriodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportePremiosAfiliadoPeriodo</servlet-name>
    <url-pattern>/reporte/ReportePremiosAfiliadoPeriodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteCompensacionAfiliadoPeriodo</display-name>
    <servlet-name>ReporteCompensacionAfiliadoPeriodo</servlet-name>
    <servlet-class>co.com.multinivel.liquidacion.ReporteCompensacionAfiliadoPeriodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteCompensacionAfiliadoPeriodo</servlet-name>
    <url-pattern>/reporte/ReporteCompensacionAfiliadoPeriodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlReporteLiquidacion</display-name>
    <servlet-name>ControlReporteLiquidacion</servlet-name>
    <servlet-class>co.com.multinivel.liquidacion.ControlReporteLiquidacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlReporteLiquidacion</servlet-name>
    <url-pattern>/reporte/ControlReporteLiquidacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportePorcentajeProducto</display-name>
    <servlet-name>ReportePorcentajeProducto</servlet-name>
    <servlet-class>co.com.multinivel.pedido.ReportePorcentajeProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportePorcentajeProducto</servlet-name>
    <url-pattern>/reporte/ReportePorcentajeProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportePorcentajeProductoHtml</display-name>
    <servlet-name>ReportePorcentajeProductoHtml</servlet-name>
    <servlet-class>co.com.multinivel.pedido.ReportePorcentajeProductoHtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportePorcentajeProductoHtml</servlet-name>
    <url-pattern>/reporte/ReportePorcentajeProductoHtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportePorcentajeProductoXLS</servlet-name>
    <servlet-class>co.com.multinivel.pedido.ReportePorcentajeProductoXLS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportePorcentajeProductoXLS</servlet-name>
    <url-pattern>/reporte/ReportePorcentajeProductoXLS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexReporteCompensacion</display-name>
    <servlet-name>IndexReporteCompensacion</servlet-name>
    <servlet-class>co.com.multinivel.compensacion.IndexReporteCompensacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexReporteCompensacion</servlet-name>
    <url-pattern>/reporte/IndexReporteCompensacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteCompensacionDistribuidorPeriodo</display-name>
    <servlet-name>ReporteCompensacionDistribuidorPeriodo</servlet-name>
    <servlet-class>co.com.multinivel.compensacion.ReporteCompensacionDistribuidorPeriodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteCompensacionDistribuidorPeriodo</servlet-name>
    <url-pattern>/reporte/ReporteCompensacionDistribuidorPeriodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteCompensacionAfiliadosRedPeriodo</display-name>
    <servlet-name>ReporteCompensacionAfiliadosRedPeriodo</servlet-name>
    <servlet-class>co.com.multinivel.compensacion.ReporteCompensacionAfiliadosRedPeriodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteCompensacionAfiliadosRedPeriodo</servlet-name>
    <url-pattern>/reporte/ReporteCompensacionAfiliadosRedPeriodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexPremiacion</display-name>
    <servlet-name>IndexPremiacion</servlet-name>
    <servlet-class>co.com.multinivel.premiacion.IndexPremiacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPremiacion</servlet-name>
    <url-pattern>/reporte/IndexPremiacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteListaPedidoPorDistribuidor</display-name>
    <servlet-name>ReporteListaPedidoPorDistribuidor</servlet-name>
    <servlet-class>co.com.multinivel.pedido.ReporteListaPedidoPorDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteListaPedidoPorDistribuidor</servlet-name>
    <url-pattern>/ReporteListaPedidoPorDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteListaConsumosPorDistribuidor</display-name>
    <servlet-name>ReporteListaConsumosPorDistribuidor</servlet-name>
    <servlet-class>co.com.multinivel.consumo.ReporteListaConsumosPorDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteListaConsumosPorDistribuidor</servlet-name>
    <url-pattern>/ReporteListaConsumosPorDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteListaConsumosTotalPorDistribuidor</display-name>
    <servlet-name>ReporteListaConsumosTotalPorDistribuidor</servlet-name>
    <servlet-class>co.com.multinivel.consumo.ReporteListaConsumosTotalPorDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteListaConsumosTotalPorDistribuidor</servlet-name>
    <url-pattern>/ReporteListaConsumosTotalPorDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteListaCompensacionTotalPorDistribuidor</display-name>
    <servlet-name>ReporteListaCompensacionTotalPorDistribuidor</servlet-name>
    <servlet-class>co.com.multinivel.consumo.ReporteListaCompensacionTotalPorDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteListaCompensacionTotalPorDistribuidor</servlet-name>
    <url-pattern>/reporte/ReporteListaCompensacionTotalPorDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteConsumosAfiliado</display-name>
    <servlet-name>ReporteConsumosAfiliado</servlet-name>
    <servlet-class>co.com.multinivel.consumo.ReporteConsumosAfiliado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteConsumosAfiliado</servlet-name>
    <url-pattern>/ReporteConsumosAfiliado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPedidosAEliminar</display-name>
    <servlet-name>ListaPedidosAEliminar</servlet-name>
    <servlet-class>co.com.multinivel.pedido.ListaPedidosAEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPedidosAEliminar</servlet-name>
    <url-pattern>/pedido/ListaPedidosAEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarPedido</display-name>
    <servlet-name>EliminarPedido</servlet-name>
    <servlet-class>co.com.multinivel.pedido.EliminarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarPedido</servlet-name>
    <url-pattern>/pedido/EliminarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaConsumosAEliminar</display-name>
    <servlet-name>ListaConsumosAEliminar</servlet-name>
    <servlet-class>co.com.multinivel.consumo.ListaConsumosAEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaConsumosAEliminar</servlet-name>
    <url-pattern>/consumo/ListaConsumosAEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteConsumosProducto</display-name>
    <servlet-name>ReporteConsumosProducto</servlet-name>
    <servlet-class>co.com.multinivel.consumo.ReporteConsumosProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteConsumosProducto</servlet-name>
    <url-pattern>/ReporteConsumosProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarConsumo</display-name>
    <servlet-name>EliminarConsumo</servlet-name>
    <servlet-class>co.com.multinivel.consumo.EliminarConsumo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarConsumo</servlet-name>
    <url-pattern>/consumo/EliminarConsumo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarCompensacionDistribuidor</display-name>
    <servlet-name>ValidarCompensacionDistribuidor</servlet-name>
    <servlet-class>co.com.multinivel.compensacion.ValidarCompensacionDistribuidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarCompensacionDistribuidor</servlet-name>
    <url-pattern>/compensacion/ValidarCompensacionDistribuidor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteAfiliadosPorDistribuidores</display-name>
    <servlet-name>ReporteAfiliadosPorDistribuidores</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.ReporteAfiliadosPorDistribuidores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteAfiliadosPorDistribuidores</servlet-name>
    <url-pattern>/reporte/ReporteAfiliadosPorDistribuidores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteAfiliacionesPorDistribuidoresPeriodo</display-name>
    <servlet-name>ReporteAfiliacionesPorDistribuidoresPeriodo</servlet-name>
    <servlet-class>co.com.multinivel.afiliado.ReporteAfiliacionesPorDistribuidoresPeriodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteAfiliacionesPorDistribuidoresPeriodo</servlet-name>
    <url-pattern>/reporte/ReporteAfiliacionesPorDistribuidoresPeriodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexArbolController</display-name>
    <servlet-name>IndexArbolController</servlet-name>
    <servlet-class>co.com.multinivel.arbol.IndexArbolController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexArbolController</servlet-name>
    <url-pattern>/jerarquia/IndexArbolController</url-pattern>
  </servlet-mapping>
</web-app>